select {
  width: 300px;
  height: 30px;
}

#myDiv,
#termQuizFormContainer {
  display: none;
}

/* 전체 화면  */
body {
  background-color: #f2f2f2;
  padding: 0 0;
  margin: 0 0;
  overflow-y: hidden;
}

.wrap {
  display: flex;
}

/* 사이드 바 */
.sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  padding: 20px 30px 20px 30px;
}

.sidebar_header p {
  color: var(--Primary-Text, #333);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.color_blue {
  color: #0046ff;
  font-size: 20px;
  font-weight: 700;
}

#logout {
  display: block;
  margin-top: 20px;
  border: 0px;
  background-color: white;
  cursor: pointer;
}

.sidebar_menu {
  height: 70%;
}

.sidebar_menu ul {
  list-style: none;
  padding: 0;
}

.sidebar_menu ul li {
  list-style: none;
  padding: 10px 0;
}

.sidebar_menu ul li a {
  color: #1d1929;
  font-size: 18px;
  text-decoration: none;
}

.sidebar_img {
  width: 240px;
  position: absolute;
  bottom: 10px;
}

/* 메인 헤더 */

.main_container {
  padding: 28px 50px;
}

.tab_button {
  color: #1d1929;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  border: 0;
  margin-right: 30px;
  cursor: pointer;
}

.tab_button:hover {
  color: #0046ff;
}

/* 메인 내용 */
.main_content {
  width: 1000px;
  padding: 30px;
}

.main_content_select{
  padding: 30px;
}

.main_quiz {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main_quiz_input{
  padding: 30px;
}

/* 텍스트 에어리어 스타일 */
#explanation {
  width: 300px;
  height: 150px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 퀴즈 항목 스타일 */
.main_quiz_input {
  margin-bottom: 20px;
  padding: 10px;
}

.main_quiz_input input[type="text"] {
  width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
}

.main_quiz_input label {
  font-weight: bold;
  margin-right: 10px;
}

.main_quiz_input input[type="radio"] {
  margin-bottom: 10px;
}

/* 점수 입력 필드 스타일 */
#plusPoint, #minusPoint {
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 저장 버튼 스타일 */
#termQuizFormContainer button[type="submit"] {
  background-color: #0046ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#termQuizFormContainer button[type="submit"]:hover {
  background-color: #45a049;
}

/* 예탁결제원 설명 */
.explain{
  width: 800px;
}