    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
    <head>
        <meta charset="UTF-8">
        <title>login page</title>
        <link rel="icon" href="/assets/images/favicon.png">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    </head>
    <body>
    <div sec:authorize="hasRole('UNAPPROVED')">아무런 권한이 없습니다. 관리자가 승인해줄 때까지 기다려주세요.</div>
    <button id="logout" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
    </body>
    </html>
