<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/manager.css" />
</head>

<body>
<div class="wrap">
    <div class="sidebar">
        <div class="sidebar_header">
            <p>두근두근!</p>
            <p>신한프렌즈!</p>
            <span class="color_blue">manager</span>
        </div>
        <div class="sidebar_menu">
            <button id="logout" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
        </div>
        <img
                class="sidebar_img"
                src="/assets/images/sol_friends.png"
                alt="솔친구"/>
    </div>
        <div class="main_content">
            <button id="fetchData" class="tab_button">관리자 요청 보낸 인원 보기</button>
            <div id="tableContainer">
                <!-- JSON 데이터가 여기에 표시될 것입니다 -->
            </div>
            <button id="approveButton" style="display: none;">승인하기</button>
            <button id="refuseButton" style="display: none;">거절하기</button>

            <script src="/js/manager.js"></script>

        </div>

</div>
</body>

</html>